body, ul {
    background-color: rgb(198, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    font-weight: bold;
    font-size: 20px;
    padding: -1%;
}

h1 {
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    background-color: aqua;
    text-align: center;
    border-radius:33px;
    height: 51px;
    width: 962px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 36px;
    text-align: justify;
}

h2 {
    color:brown;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 45px 45px 0px 45px;
}

h3 {
    color:rgb(95, 42, 165);
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 45px 45px 0px 45px;
}

#mi-id {
    color: rgb(63, 3, 3);
    font-size: 18px;
    padding: 10px;
    margin: 45px 45px 0px 45px;
}

.mi-clase {
    color: white,;
    border: 1px solid rgb(5, 59, 19);
    padding: 10px;
    margin: 5px;
    width: 1391px;
    background-color: darkgreen;
}

button {
    color: blue;
    border: solid;
    border-radius: 30px;
    margin: 37px;
    width: 100px;
    
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  li>a {
    padding: 8px 24px;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    color: white;
    text-decoration:none;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }

  .button-menu-toggle {
    display: none;
  }

  .img-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .video-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
  }

  iframe, video {
    max-width: 90%;
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
    .nav-links {
      display: none;
    }
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
    }
  }

.img-container {
  flex-direction: column;
}

.video-container {
  padding: 10px;
  gap: 5px;
}

  footer {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue; 
    min-height: 213px;
    text-align: center;
    width: 100%;
  }

  img {
    height: 200px;
    align-items: center;
  }

  main {
    min-height: 71px;
  }

  label {
    padding: 10px;
    margin-left: 30px;
  }

